/*VARIABLES*/
:root{
    --mx-with:1320px;
    --color-text-body:#525260;
    --color-primary:#5956e9;
    --color-secundary:#fff;
    --color-banner:#2522BA;
    --color-text-btn:#0d6efd;
    --color-bg-btn:#ffdc60;
    --color-subtitle:#c75c6f;
    --color-title:#292930;
    --color-bg-services: #f8f8f8;
    --color-bg-projects:#ecf2f6;
    --color-bg-stats:#27272e;
    --color-hover-dark: #303035;
    --color-text-descripton:#99A1AA;

}
/*ESTILOS GENERALES*/
html{
    font-size: 10px ;
    overflow-x: hidden;
}

body{
    min-width: 100%;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: var(--color-text-body);
}



/*ESTRUCTURA*/
.layout{
    width: 100%;
    height: 100%;
}





/*ESTILOS GENERALES*/
.layout__services,
.layout__projects,
.layout__stats,
.layout__reviews,
.layout__clients,
.layout__news,
.layout__contact,
.layout__footer{
    position: relative;
    padding: 10rem 10rem;
    z-index: 1;
}


.services__subtitle,
.projects__subtitle,
.stats__subtitle,
.reviews__subtitle,
.clients__subtitle,
.news__subtitle,
.contact__subtitle{
    color: var(--color-subtitle);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.services__title,
.projects__title,
.stats__title,
.reviews__title,
.clients__title,
.news__title,
.contact__title
{
    color: var(--color-title);
    font-size: 6.7rem;
    font-weight: 600;
    line-height: 1.2;
}




/*ESTILOS CACEZERA*/
.layout__menu{
    width: 100%;
    padding: 3rem 3rem;
}

.menu__navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo{
    width: 190px;
}

/*ESTILOS CACEZERA - menu*/
.nav__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav__item{
    position: relative;
    margin: 0 2.5rem;
}

.nav__titles{
    position: relative;
    display: inline-block;
    font-weight: 500;
    color: var(--color-text-body);
    transition: all 300ms ease-in-out;
}

.nav__titles:hover{
    color: var(--color-primary);
}

.nav__titles::before{
    content: "";
    height: 0.2rem;
    width: 0%;
    background-color: var(--color-primary);
    position: absolute;
    bottom:-0.7rem;
    left: 0;
    opacity: 0;
    transition: all 500ms ;
}

.nav__titles:hover::before{
    width: 100%;
    opacity: 1;
}

.nav__icon{
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.2rem;
    vertical-align: middle;
}

/*ESTILOS CACEZERA - submenu*/
.nav__submenu{
    display: block;
    position: absolute;
    min-width: 19rem;
    top: 4rem;
    padding: 1.5rem 1rem;
    background-color: var(--color-secundary);
    box-shadow: 0px 13px 48px 0 rgba(0, 0, 0, 15%);
    border-radius: 4px;

    opacity: 0;
    visibility: hidden;
    transition: all 100ms ease-in-out;
}

.submenu__item{
    opacity: 0;
    transform: translateX(2rem);
    transition: all 100ms ease-in-out;
}

.submenu__item:nth-child(1){
    transition-delay:100ms ;
}
.submenu__item:nth-child(2){
    transition-delay:200ms ;
}
.submenu__item:nth-child(3){
    transition-delay:300ms ;
}
.submenu__item:nth-child(4){
    transition-delay:400ms ;
}
.submenu__item:nth-child(5){
    transition-delay:500ms ;
}
.submenu__item:nth-child(6){
    transition-delay:600ms ;
}

.submenu__title{
    display: block;
    position: relative;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text-body);
    padding: 0.7rem 1.5rem;
    transition: all 300ms
}

.nav__item:hover>.nav__submenu{
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.nav__item:hover .submenu__item{
    opacity: 1;
    transform: translateX(0);
}

.submenu__title:hover{
    color: var(--color-primary);
}

.submenu__title::after{
    content: "";
    height: 0.1rem;
    width: 0;
    background-color: #5956e9;
    position: absolute;
    top: 2.7rem;
    left: 0;
    transition: all 300ms ease-in-out;
}

.submenu__title:hover::after{
    width: 100%;
}






/*ESTILOS PARA EL BANNER - */
.layout__banner{
    position: relative;
    width: calc(100% - 6rem);
    margin: 0 auto;
    padding: 12rem;
    border-radius: 60px;
    overflow: hidden;
    background-color: var(--color-banner);
    z-index: 1;
    margin-bottom: 5rem;
}

.banner__container{
    position: relative;
    display: inline-block;
    width: 50%;
    z-index: 3;
}

.banner__title{
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-secundary);
    margin-bottom: 3rem;
}

.banner__btn{
    display: inline-block;
    padding: 2.8rem 4.5rem;
    border-radius: 20px;
    color: var(--color-text-btn);
    background-color: var(--color-secundary);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.7rem;
    text-align: center;
    box-shadow: 0px 44px 80px -24px var(--color-primary);
    transition: all 300ms ease-in-out;
}

.banner__btn:hover{
    background-color: var(--color-bg-btn);
    color: var(--color-banner);
}

/*ESTILOS PARA EL BANNER - imagenes de fondo*/
.shapes__item{
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.shapes__item--shape1{
    text-align: right;
    top: 0;
    right: 0;

    animation-name: showRight;
    animation-duration: 1s;
}

.shapes__item--shape2{
    text-align: left;
    bottom: 0;
    left: 0;

    animation-name: showLeft;
    animation-duration: 1s;
}

.shapes__item--shape3{
    top: 34%;
    left: 50%;
    animation: moveShape3 20s infinite ;
}

.shapes__item--shape4{
    bottom: 24rem;
    left: 45%;
    animation: moveShape4 15s infinite;
}

.shapes__item--shape4 .shape__img{
    opacity: 0.5;
    width: 7.5rem;
}

.shapes__item--shape5{
    bottom: 12rem;
    left: 53%;
    animation: moveShape5 40s infinite;
}

.shapes__item--shape6{
    bottom: 10rem;
    left: 40%;
    animation: moveShape6 30s infinite;
}

.shapes__item--shape7{
    top: 0;
    right: 10rem;
    z-index: 1;

    animation-name: showTop;
    animation-duration: 1s;
}

/*ESTILOS PARA EL BANNER - animaciones*/

@keyframes showRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes showLeft{
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes showTop{
    0%{
        transform: translateY(-70%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes moveShape3{
    0%{transform: translateX(0) translateY(0);}
    40%{transform: translateX(50px) translateY(-200px)}
    75%{transform: translateX(700px) translateY(0)}
    100%{transform: translateX(0) translateY(0)}
}

@keyframes moveShape4{
    0%{transform: translateX(0) translateY(0);}
    40%{transform: translateX(-50px) translateY(200px)}
    75%{transform: translateX(-500px) translateY(0)}
    100%{transform: translateX(0) translateY(0)}
}

@keyframes moveShape5{
    0%{transform: translateX(0) translateY(0);}
    40%{transform: translateX(-400px) translateY(-500px)}
    75%{transform: translateX(90px) translateY(400)}
    100%{transform: translateX(0) translateY(0)}
}

@keyframes moveShape6{
    0%{transform: translateX(0) translateY(0);}
    40%{transform: translateX(50px) translateY(-200px)}
    75%{transform: translateX(700px) translateY(0)}
    100%{transform: translateX(0) translateY(0)}
}








/*ESTILO  SECCION SERVICIOS*/
.services__grid{
    max-width: var(--mx-with);
    margin: 0 auto;
}

.services__header{
    margin-bottom:2rem ;
    text-align: left;
}




/*ESTILO  SECCION SERVICIOS cajas*/
.services__list{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
}

.services__service{
    width: 33%;
    height: 100%;
    padding: 5rem 3rem;
    border-radius: 3rem;
    background: linear-gradient(180deg, var(--color-bg-services), rgba(255, 255, 255, 0));
    background-color: var(--color-secundary);
    border: 1px solid;
    border-image-source: linear-gradient(90deg, var(--color-bg-services), rgba(255, 255, 255, 0));
    transition: all 400ms ease-in-out;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    
}
.services__service:hover{
    background-color: var(--color-bg-services);
}
.sercive__container-img{
    max-width: 8.5rem;
    flex: 1;
}

.service__content{
    flex: 1;
}

.service__title{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 3rem;
    color: var(--color-title);
}

.service__description{
    overflow: hidden;
    margin-bottom: 3rem;
    font-size: 1.7rem;
}

.service__more{
    display: inline-block;
    font-weight: 500;
    position: relative;
    padding-left: 5rem;
    transition: all 300ms ease-in-out;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.service__more:hover,
.service__title:hover{
    color: var(--color-primary);
}

.service__more::before{
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 3.4rem;
    height: 1.5px;
    background-color: var(--color-text-body);
    transition: all 300ms ease-in-out;
}

.service__more:hover:before{
    background-color: var(--color-primary);
}


.services__service--bottom{
    margin-top: 20rem;
}

.services__service--middle{
    margin-top: 10rem;
}

/*ESTILO  SECCION SERVICIOS imagenes*/

.service-shapes__item{
    position: absolute;
    pointer-events: none;
    z-index: -1;
}

.service-shapes__item--shape1{
    top: -10px;
    right: 12%;
}

.service-shapes__item--shape2{
    top: 60px;
    right: 38%;
}

.service-shapes__item--shape3{
    top: 34%;
    left: 10%;
}








/*ESTILO  SECCION PROYECTOS*/
.layout__projects{
    background-color: var(--color-bg-projects);
}

.projects__grid{
    max-width: var(--mx-with);
    margin: 0 auto;
}

.projects__header{
    margin-bottom: 4rem;
}


.projects__categories{
    display: flex;
    flex-direction: row;
    gap:5rem;
    margin-bottom: 5.5rem;
}

.categories__item{
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0.8rem 0;
}

.categories__item--active,
.categories__item:hover{
    border-bottom: 3px solid var(--color-primary);
}

.projects__all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem 6rem;
}

.projects__project{
    width: calc(50% - 3rem);
}

.project__container-img{
    width: 100%;
    border-radius: 3rem 3rem 0 0 ;
    overflow: hidden;
}

.project__img{
    width: 100%;
    transition: all 600ms linear;
}

.projects__project:hover .project__img{
    transform: scale(1.2);
}

.project__content{
    background-color: var(--color-secundary);
    padding: 4rem;
    border-radius: 0 0 3rem 3rem;
}

.project__title{
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--color-title);
    line-height: 1.2;
    margin-bottom: 1rem;
    transition: all 300ms ease-in-out;
}

.project__title:hover{
    color: var(--color-banner);
}

.project__tags{
    font-size: 1.7rem;
}

/*ESTILO  SECCION PROYECTOS imagenes*/
.project-shapes__item{
    position: absolute;
    z-index: -1;
    pointer-events: none;
    top: 0;
}

.project-shapes__item--shape1{
    top: 2%;
    right: 10%;
}
.project-shapes__item--shape2{
    top: 4%;
    right: 32%;
}
.project-shapes__item--shape3{
    top: 36%;
    left: 3%;
}








/*ESTILO  SECCION ESTADISTICAS*/
.layout__stats{
    background-color: var(--color-bg-stats);
}

.stats__container{
    max-width: var(--mx-with);
    margin: 0 auto;
}

.stats__header{
    text-align: center
}

.stats__title{
    color: var(--color-secundary);
}

.stats__description{
    font-size: 2rem;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 4rem;
    color: var(--color-text-descripton);
}

.stats__progress{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.stats__stat{
    width: 25%;
    text-align: center;
    border-radius: 2rem;
    padding: 7rem 2rem;
}

.stats__stat:hover{
    background: linear-gradient(180deg, var(--color-bg-stats), var(--color-hover-dark));
    border: 1px solid var(--color-hover-dark);
}

.stat__icon{
    margin-bottom: 2rem;
    text-align: center;
}

.stat__icon>img{
    margin: 0 auto;
}

.stat__count{
    display: inline-block;
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-primary);
    margin-bottom: 1rem;
    text-align: center;
}

.stat__title{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-secundary);
    text-align: center;
}








/*ESTILO  SECCION REVIEWS*/
.reviews__grid{
    max-width: var(--mx-with);
    margin: 0 auto;
}

.reviews__header{
    text-align: left;
    margin-bottom: 6rem;
}


.reviews__description{
    font-size: 2rem;
    margin-bottom: 4rem;
    color: var(--color-text-body);
}

.reviews__container{
    display: flex;
    gap: 3rem;
}

.reviews__review{
    padding-top: 3rem;
}

.review__company{
    display: inline-block;
    margin-bottom: 3rem;
}

.review__descrption{
    font-size: 2.4rem;
    line-height: 1.2;
    color: var(--color-text-body);
    margin-bottom: 3.2rem;
}

.review__author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.autor__container-img{
    border-radius: 3.5rem;
    overflow: hidden;
}

.autor__name{
    display: block;
    font-weight: 500;
    color: var(--color-hover-dark);
    margin-bottom: 0.3rem;
}

.autor__description{
    display: block;
    font-size: 1.4rem;
    color: var(--color-text-descripton);
}

.review-shapes__item--shape3{
    position: absolute;
    top: 110px;
    left: 68%;
    z-index: -1;
}








/*ESTILO  SECCION CLIENTES*/
.layout__clients{
    background-color: var(--color-bg-stats);
}

.clients__container{
    max-width: var(--mx-with);
    margin: 0 auto;
}

.clients__header{
    text-align: left;
}

.clients__title{
    color: var(--color-secundary);
}

.clients__description{
    width: 40%;
    font-size: 2rem;
    margin-bottom: 4rem;
    color: var(--color-text-descripton);
}

.clients__logo{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.clients__item{
    width: calc(25% - 3rem);
}

.clients__img{
    margin: 0 auto;
    filter: grayscale(100%);
    opacity: 0.3;
    transition: all 300ms ease-in-out;
}

.clients__item:hover > .clients__img{
    opacity: 1;
    filter: grayscale(0%);
    cursor: pointer;
}

.client-shapes__item{
    position: absolute;
    top: 5rem;
    right: 0;
}









/*ESTILO  SECCION NEWS*/
.news__container{
    max-width: var(--mx-with);
    margin: 0 auto;
}

.news__header{
    text-align: center;
}



.news__description{
    font-size: 2rem;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 4rem;
    color: var(--color-text-body);
}

.news__list{
    display: flex;
    
}

.news__new{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0 ;
    border-top: 1px solid var(--color-bg-projects);
    border-bottom: 1px solid var(--color-bg-projects);
    transition: all 300ms ease-in-out;
}

.news__new:hover{
    border-top: 1px solid var(--color-primary);
}

.news__new:last-child{
    border-left:1px solid var(--color-bg-projects) ;
    padding-left: 4rem;
}
.news__new:first-child{
    padding-right:  4rem;
}

.new__container-img{
    overflow: hidden;
    border-radius: 3rem;
    flex: 1;
}

.new__img{
    border-radius: 3rem;
    transition: all 300ms ease-in-out;
}

.news__new:hover .new__img{
    transform: scale(1.2)
}

.new_content{
    flex: 1;
}

.new__title{
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: 500;
    color: var(--color-title);
    margin-bottom: 2rem;
    transition: all 300ms ease-in-out;
}

.new__title:hover{
    color: var(--color-primary);
}

.new__description{
    color: var(--color-text-descripton);
    margin-bottom: 2rem;
}


.new__more{
    display: inline-block;
    font-weight: 500;
    color: var(--color-title);
    font-size: 1.7rem;
}
.new__icon{
    font-size: 1.3rem;
    vertical-align: middle;

}

.new__more:hover{
    color: var(--color-primary);
}

.new-shapes__item{
    position: absolute;
    z-index: -1;
}

.new-shapes__item--shapes1{
    top:14rem;
    left:31.5rem
}
.new-shapes__item--shapes2{
    top:12rem;
    right:0rem;
}
.new-shapes__item--shapes3{
    bottom:8rem;
    left:0rem;
}

.new-shapes__item--shapes4{
    bottom:5rem;
    right:5rem;
}










/*ESTILO  SECCION CONTACTO*/
.layout__contact{
    overflow: hidden;
}

.layout__contact::before{
    position: absolute;
    content: "";
    background-color: var(--color-primary);
    width: 100%;
    height: 60rem;
    top: 0;
    left: 0;
    z-index: -1;
}

.contact__container{
    max-width: var(--mx-with);
    margin: 0 auto;
    overflow: hidden;
}

.contact__header{
    text-align: center;
    margin-bottom: 6.5rem;
}

.contact__subtitle{
    color:  var(--color-bg-btn);
}

.contact__title{
    color: var(--color-secundary);
}

.contact__btn{
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 6rem;
    padding: 2.5rem 5rem;
    background-color: var(--color-secundary);
    border-radius: 4rem;
    font-weight: 700;
    text-align: center;
    transition:  all 300ms ease-in-out;
}

.contact__btn:hover{
    background-color: var(--color-bg-btn)
}

.contact__images{
    position: relative;
    text-align: center;
    border-bottom: 1px solid var(--color-text-descripton);
}

.contact__thumb{
    display: inline-block;
    position: relative;
    
}
.contact__thumb--img1{   
    margin-right: -18rem;
    bottom: -0.7rem;
}
.contact__thumb--laptop{
    position: absolute;
    bottom: 0;
    left: 16rem;
}
.contact__thumb--movile{
    position: absolute;
    bottom: 0;
    right: 8rem;
}
/*ESTILO  SECCION CONTACTO imagenes*/
.backshapes__item{
    position: absolute;
    z-index: -1;
}

.backshapes__item--shapes1{
    top: 0;
    left: 32%;
}

.backshapes__item--shapes2{
    top: 18rem;
    left: 18%;
    opacity: 0.5;
    animation: moveShape3 20s infinite;
}
.backshapes__item--shapes3{
    top: 31%;
    left: 20%;
    animation: moveShape4 25s infinite;
}
.backshapes__item--shapes4{
    top: 44%;
    left: 28%;
    animation: moveShape3 35s infinite;
}
.backshapes__item--shapes5{
    top: 50%;
    right: 17%;
    animation: moveShape4 30s infinite;
}
.backshapes__item--shapes6{
    top: 36%;
    right: 21%;
    animation: moveShape5 30s infinite;
}
.backshapes__item--shapes7{
    top: 30%;
    right: 15%;
    animation: moveShape3 25s infinite;
}










/*ESTILO  SECCION FOOTER*/
/*ESTILO  SECCION FOOTER top*/
.layout__footer{
    padding-top: 1rem;
}

.footer__container{
    max-width: var(--mx-with);
    margin: 0 auto;
}

.footer__top{
    padding-bottom: 7rem;
}

.footer__social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social__img{
    display: inline-block;
    color: var(--color-text-descripton);
    font-size: 3rem;
    transition: all 300ms ease-in-out;
}

.social__link:hover > .social__img{
    color: var(--color-text-body);
}

/*ESTILO  SECCION FOOTER  middel*/
.layout__footer{
    padding-bottom: 2rem;
}

.footer__main{
    display: flex;
    flex-direction: row;
}

.footer__fleft{
    flex-basis: 50%
}

.fleft__container{
    border-right: 1px solid var(--color-text-descripton);
    padding-right: 4rem;
    margin-bottom: 8rem;
}

.fleft__totle{
    display: inline-block;
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-title);
    margin-bottom: 2rem;
}


.fleft__subtitle{
    font-size: 1.7rem;
    margin-bottom: 4rem;
}

.fleft__group{
    width: 100%;
    position: relative;
    background-color: var(--color-secundary);
    border-radius: 20px;
    height: 7.2rem;
    padding: 1rem;
    padding-right: 1rem;
    box-shadow: 0 24px 48px -15px #ddd;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.fleft__mail-icon{
    margin-left: 2rem;
    
}

.fleft__form-control{
    width: 100%;
    position: relative;
    display: block;
    padding: 0.5rem 1.5rem;
    height: auto;
    border: none;
    outline: none;
    color: var(--color-title);
}

.fleft__btn{
    cursor: pointer;
    height: 5.2rem;
    border: none;
    outline: none;
    background-color: var(--color-primary);
    color: var(--color-secundary);
    border-radius: 14px;
    padding: 1rem 2.8rem;
    transition: all 300ms ease-in-out;
}

.fleft__btn:hover{
    background-color: var(--color-banner);
}

.footer__fright{
    padding-left: 4rem;
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}

.footer__widget{
    margin-bottom: 8rem;
    flex-basis: 33%;
}

.widget__title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-title);
    margin-bottom: 3rem;
}

.widget__link{
    font-size: 1.8rem;
    padding: 0.8rem 0;
    display: inline-block;
    transition: all 300ms linear;
}

.widget__link:hover{
    color: var(--color-banner);
}
/*ESTILO  SECCION FOOTER bottom*/

.footer__bottom{
    font-size: 1.7rem;
    border-top: 1px solid var(--color-text-descripton);
    padding: 2.5rem 0 2rem 0;
    display: flex;
}

.footer__copyright{
    flex-basis: 50%;
}

.copyright__text{
    display: inline-block;
    color: var(--color-text-descripton);
}

.copyright__text>a{
    display: inline-block;
}

.footer__links{
    flex-basis: 50%;
}

.footer__flinks{
    color: var(--color-text-descripton);
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
}

.fliks__item:hover{
    color: var(--color-banner);
}

.fliks__item--separator:after{
    content: "";
    background-color: var(--color-text-descripton);
    height: 4px;
    width: 4px;
    border-radius: 50%;
    position: absolute;
    top:49%;
    left: 76.5%;
}